.idea
metastore_db
spark-warehouse
derby.log
data
target
production

*.tfvars
.terraform.*
.terraform
terraform.tfstate
terraform.tfstate.backup
*.pem
*.jar
*.iml
.bsp
# Configs with current environment
*.dev.conf
devops/deploy/application.properties.template
devops/deploy/application.properties
devops/deploy/tmp