dev
.idea
metastore_db
spark-warehouse
derby.log
data
target
production
logs

*.tfvars
.terraform.*
.terraform
terraform.tfstate
terraform.tfstate.backup
*.pem
*.jar
*.iml
.bsp
# Configs with current environment
*.dev.conf
*.dev.properties
client.truststore.jks

devops/deploy/application.properties.template
devops/deploy/application.properties
devops/deploy/tmp
devops/deploy/app_conf.py.template
devops/.ssh
*.crt

.vscode
*.lock
www/cryptotrade/package-lock.json
